.required__tasks__container {
  display: flex;
  flex-direction: column;
  gap: 24px;

  h3 {
    font-family: "Montserrat";
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 125%;
    color: #004b87;
    margin: 0;
  }

  p {
    font-family: "Open Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    color: #111;
    margin: 0;
  }

  span {
    color: #9c0f2e;
    margin-left: 4px;
  }
}

@media screen and (min-width: 768px) {
  .required__tasks__container {
    h3 {
      font-size: 28px;
    }

    p {
      font-size: 18px;
    }
  }
}
