/* ------------- Profile page LHS  -------------   */

.col-md-4 {
  padding: 24px;
  box-shadow: 0px 1px 2px 0px rgba(13, 14, 15, 0.08),
    0px 4px 8px 0px rgba(13, 14, 15, 0.12);
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.weblinks-depth-1.weblinks.list-group {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.weblink.list-group-item {
  border-top: none;
  border-left: none;
  border-right: none;
  font-family: "Open Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 27px */
  color: #004b87;
  text-decoration: none;
  padding: 0 0 12px 0;
}

.weblink.list-group-item:hover {
  background-color: #fff;
  color: #004b87;
  text-decoration: underline;
}

.well.profile-info {
  border: none;
  box-shadow: none;
}

.well.profile-info img {
  border-radius: 50%;
}

.userFullName {
  font-family: Montserrat;
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
  line-height: 125%; /* 35px */
  color: #111;
}

/* ------------- End of Profile page LHS  -------------   */

/* ------------- General table  -------------   */

.table-striped > tbody > tr:nth-of-type(even) {
  background-color: transparent;
}

.table-striped > tbody > tr,
.table > thead > tr > th {
  font-family: "Open Sans";
}

.table > tbody > tr > td {
  border: 1px solid #dadbdc;
  padding: 12px;
  font-size: 16px;
  text-wrap: nowrap;

  a {
    color: #004b87;
    font-family: "Open Sans";
  }
}

.table > thead > tr > th,
.table > thead:first-child > tr:first-child > th {
  border-top: 1px solid #dadbdc;
  border-left: 1px solid #dadbdc;
  border-right: 1px solid #dadbdc;
  border-bottom: none;
  background-color: #f0f0f0;
  padding: 12px;
  font-size: 14px;
  text-wrap: nowrap;

  a {
    color: #111;
  }
}

.entitylist {
  width: 90vw;
}

@media screen and (min-width: 768px) {
  .entitylist {
    width: auto;
  }

  .table-striped > tbody > tr:nth-of-type(even) {
    background-color: #fbfbfb;
  }

  .table > tbody > tr > td {
    font-size: 18px;
  }
  .table > thead > tr > th,
  .table > thead:first-child > tr:first-child > th {
    font-size: 16px;
  }

  .table > thead > tr > th,
  .table > thead:first-child > tr:first-child > th {
    padding: 24px 12px;
  }
}

@media screen and (max-width: 767px) {
  .table > tbody > tr > td {
    padding: 0;
  }

  .entitylist {
    border: none !important;
  }

  .view-grid .table-fluid tbody tr td {
    padding-left: 12rem !important;
    padding: 12px;
    display: flex;
    align-items: center;
    border-top: 0;

    &:before {
      background-color: #f0f0f0;
      box-shadow: 0 0 0 1vmax #f0f0f0;
      clip-path: inset(-100vmax 0);
      margin-right: 12px;
      padding: 0 12px;
      text-wrap: wrap;
      min-height: 25px;
      display: flex;
      align-items: center;
    }
  }

  .view-grid .table-fluid tbody {
    display: flex;
    flex-direction: column;
    gap: 32px;
  }

  .table-fluid tr {
    border-top: 1px solid #ddd !important;
  }
}

/* ------------- End of General table  -------------   */

/* ------------- Form elements  -------------   */

.form-control {
  border: 1px solid #757679 !important;
  border-radius: 2px;

  &:hover {
    border-color: #8c8c8c !important;
  }

  &:focus {
    box-shadow: 0px 0px 0px 2px #fff, 0px 0px 0px 4px #004b87;
  }
}

.form-control[readonly][disabled] {
  border: none !important;
  box-shadow: none;
}

.form-control.lookup {
  min-height: 51px;
}

.crmEntityFormView .cell.checkbox-cell:first-child {
  padding: 0 28px 20px !important;
}

.form-control-cell .control .form-control {
  border-radius: 2px;
  padding: 12px;
  min-height: 51px;
  font-family: "Open Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.field-label {
  font-family: "Open Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 125%;
  margin-bottom: 8px;
}

.input-group-btn .btn.btn-default {
  height: 100%;
  color: #004b87;
  border-color: #004b87;

  &:focus {
    box-shadow: 0px 0px 0px 2px #fff, 0px 0px 0px 4px #004b87;
    border-radius: 2px !important;
    z-index: 3;
    outline: none;
    background-color: #fff;
  }
}

.input-group {
  height: 100%;
}

.crmEntityFormView .cell .picklist label {
  font-family: "Open Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  margin-top: 12px;
}

.crmEntityFormView .cell .picklist input[type="radio"] {
  margin-top: 14px !important;
  margin-right: 12px !important;
  height: 24px;
  width: 24px;
}
.crmEntityFormView .cell.boolean-radio-cell input[type="radio"] {
  margin-top: -1px !important;
  margin-right: 8px !important;
  height: 24px;
  width: 24px;
}

.picklist,
.boolean-radio {
  input {
    &:hover {
      cursor: pointer;
      &:checked:after {
        border-color: #001d34;
        accent-color: #001d34;
      }
    }

    &:focus {
      outline: 5px auto #004b87;

      &:after {
        top: 4px;
        left: 4px;
        width: 16px;
        height: 16px;
      }

      &:checked:after {
        border-color: #001d34;
        accent-color: #001d34;
        box-shadow: 0px 0px 0px 2px #fff, 0px 0px 0px 4px #001d34;
      }
    }

    &:disabled {
      border-color: #8c8c8c;
      accent-color: #8c8c8c;
    }
  }

  label {
    &:hover {
      cursor: pointer;
      text-decoration: underline;
    }

    &:disabled {
      cursor: not-allowed;
      text-decoration: none;
      color: #8c8c8c;
    }
  }
}

input[type="radio"]:after {
  width: 24px;
  height: 24px;
  border-radius: 15px;
  top: 0px;
  left: 0px;
  position: relative;
  background-color: #fff;
  content: "";
  display: inline-block;
  visibility: visible;
  border: 1px solid #757679;
}

input[type="radio"]:checked:after {
  width: 24px;
  height: 24px;
  border-radius: 15px;
  top: 0px;
  left: 0px;
  position: relative;
  background-color: white;
  content: "";
  display: inline-block;
  visibility: visible;
  border: 7px solid #004b87;
  accent-color: #004b87;
}

.input-group-btn {
  height: 100%;
}

input[type="file"] {
  display: none;
}

#AttachFileLabel {
  padding: 12px 24px;
  background-color: #004b87;
  color: #fff;
  font-family: "Open Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 125%;
  border-radius: 2px;
  margin: 0;

  &:hover {
    cursor: pointer;
    background-color: #001d34;
  }

  &:focus {
    box-shadow: 0px 0px 0px 2px #fff, 0px 0px 0px 4px #001d34;
  }
}

input[type="checkbox"] {
  height: 24px;
  width: 24px;
  accent-color: #004b87;
  border-radius: 2px;
  margin-top: 0;

  &:focus {
    outline: 1px solid #8c8c8c;
    box-shadow: 0px 0px 0px 1px #fff, 0px 0px 0px 3px #004b87;
    clip-path: circle(84%);
  }

  &:hover {
    cursor: pointer;
    accent-color: #001d34;

    &:focus {
      box-shadow: 0px 0px 0px 1px #fff, 0px 0px 0px 3px #001d34;
    }
  }
}

.crmEntityFormView .cell.checkbox-cell div.info {
  padding-left: 32px !important;
}

.input-group-addon {
  background-color: #fff;
  border: 1px solid #8c8c8c;
  border-radius: 2px !important;
  color: #004b87;

  &:hover,
  &:focus,
  &:focus-visible,
  &:focus-within {
    outline: 1px solid transparent;
    border-radius: 2px;
    box-shadow: 0px 0px 0px 2px #fff, 0px 0px 0px 4px #004b87;
    &:last-child {
      border-left: none;
    }
  }

  &:hover {
    background-color: #f2f2f2;
  }
}

/* ------------- End of form elements  -------------   */
